// Place all the styles related to the Walls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: #7a8965;
}

.container-fluid {
	margin: 20px;
	padding: 30px;
	text-align: center;
}

.login_title {
	font-size: 100px;
}

.login_wrapper, .register_wrapper {
	text-align: left;
	margin: 0 auto;
	border-radius: 5px;
	display: inline-block;
	background-color: #DDDDDD;
	padding: 20px 40px;
}

	.login_wrapper button, .login_wrapper a {
		display: inline-block;
	}

.wall_wrapper {
	background-color: #DDDDDD;
	padding: 20px 40px;
	border-radius: 5px;
	text-align: left;
}


.header h3, .simple_form.edit_user{
	display: inline-block;
	text-align: right;
	vertical-align: bottom;
	margin: 0px;
	margin-bottom: 5px;
	vertical-align: top;
}

.header h1 {
	font-size: 100px;
}

div.col-md-4
{
	text-align: right;
	height: 100px;
}

.all_posts {
	margin-left: 20px;
}

.all_comments {
	margin-left: 20px;
	border: 1px dashed silver;
	display: inline-block;
	padding: 10px;
}

	.all_comments p {
		font-size: 16px;
	}

.comment h5 {
	color: #3276B1;
}

.post h4 {
	color: #3276B1;
	border-top: 1px solid silver;
	padding: 10px;
	padding-left: 0px;
}

.post_content {
	font-size: 22px;
}

#post_message {
	width: 100%;
	height: 100px;
}

#comment_message {
	width: 300px;
}

span {
	color: black;
	font-style: italic;
	font-size: 12px;
}

.success {
	color: green;
}

.errors {
	color: red;
}

.wall_wrapper .btn-primary {
	margin: 0px;
}


